.container {
  width: 100vw;
  background-color: #ECEEEE;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
.card {
  padding: 25px;
}
.card > h1 {
  color: white;
  height: 30px;
  font-size: 1rem;
  width: auto;
}

.first > h1{
  background-color: #8E6E95;
}

.second > h1{
  background-color: #39A59C;
}

.third > h1{
  background-color: #344759;
}

.fourth > h1 {
  background-color: #E8741E;
}